
.cell {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30%;
	height: 7rem;
	border: 2px solid black;
	font-size: 32px;
}

.input-area-inner {
	display: flex;
	justify-content: space-around;
}

.inputElement {
	width: 7%;
}

#cell {
	/*background-color: orangered;*/
	/*font-size: 32px;*/
}

/*.d-flex {
	flex-direction: column;
}*/

@media (max-width: 576px) {
  
	.cell {
		/*display: flex;
		justify-content: center;
		align-items: center;
		width: 30%;*/
		height: 2.2rem;
		border: 2px solid black;
	}
  
}
